/*Large screen Blue*/
body {
	background-color: #c2c9fb;
	color: #0000FF;
}
	

p {
    font-size:large;    
}

header {
    background-color: #0e58ab;
    color: #bbd1f8; 
    text-align: center;
    
}

article {
    max-width: 200px;
    background-color: #a2aef8;
    color: #020657;    
    font-weight: bolder;
    border-width: thick;
    border-style: double;
    border-color: #020657;
    padding-left: 2%;
    padding-bottom: 2%;
     
}

.position01 {
    width: 50px;
    height: 50px;
    background-color: #000aff;
    font-weight:bold;
    color: #bbd1f8;
    text-align: center;
}

.position02 {
    width: 50px;
    height: 50px;
    background-color: #0b0291;
    font-weight:bold;
    color: #bbd1f8;
    text-align: center;
}

.position03 {
    width: 50px;
    height: 50px;
    background-color: #020657;
    font-weight: bold;
    color: #bbd1f8;
    text-align: center;
}
/*Medium screen size - Green*/
@media screen and (max-width: 1024px) {
    body {
        background-color: #002002;
        color: #0000FF;
    }


    p {
        font-size: large;
    }

    header {
        background-color: #013b10;
        color: #00ff24;
        text-align: center;
    }

    article {
        max-width: 200px;
        background-color: #93ba94;
        color: #020657;
        font-weight: bolder;
        border-width: thick;
        border-style: double;
        border-color: #00ff24;
        padding-left: 2%;
        padding-bottom: 2%;
    }

    .position01 {
        width: 50px;
        height: 50px;
        background-color: #9ffc95;
        font-weight: bold;
        color: #00b704;
        text-align: center;
    }

    .position02 {
        width: 50px;
        height: 50px;
        background-color: #0e8006;
        font-weight: bold;
        color: #00ff24;
        text-align: center;
    }

    .position03 {
        width: 50px;
        height: 50px;
        background-color: #022709;
        font-weight: bold;
        color: #00ff24;
        text-align: center;
    }
}
/*Small screen size - Red*/
@media screen and (max-width: 520px) {
    body {
        background-color: #fa7474;
        color: #FF0000;
    }


    p {
        font-size: large;
    }

    header {
        background-color: #ce0000;
        color: #fa7474;
        text-align: center;
    }

    article {
        max-width: 200px;
        background-color: #ffc4c4;
        color: #930000;
        font-weight: bolder;
        border-width: thick;
        border-style: double;
        border-color: #fec7c7;
        padding-left: 2%;
        padding-bottom: 2%;
    }

    .position01 {
        width: 50px;
        height: 50px;
        background-color: #ff5757;
        font-weight: bold;
        color: #560202;
        text-align: center;
    }

    .position02 {
        width: 50px;
        height: 50px;
        background-color: #b72605;
        font-weight: bold;
        color: #f79a9a;
        text-align: center;
    }

    .position03 {
        width: 50px;
        height: 50px;
        background-color: #580202;
        font-weight: bold;
        color: #fb9e94;
        text-align: center;
    }
}